@media screen and (max-width: 1820px) {
    .selector {
        padding: 95px $padding_1810;
    } .selector {
        padding: 55px $padding_1810;
    } .selector {
        padding: 0 $padding_1810;
    }
}

@media screen and (max-width: 1650px) { 
}

@media screen and (max-width: 1570px) { 
}

@media screen and (max-width: 1440px) { 
    .selector {
        padding: 95px $padding_1440;
    } .selector {
        padding: 55px $padding_1440;
    } .selector {
        padding: 0 $padding_1440;
    }
}

/* pxToVw */
@media screen and (max-width: 1350px) { 
}


@media screen and (max-width: 1000px) { 
    .selector {
        padding-left: $padding_1000;
        padding-right: $padding_1000;
    }
}

/* smartphone */
@media screen and (max-width: 767px) { 
}


/* optional */
@media screen and (max-width: 555px) { 
}