@import './main';


.container {
    overflow-x:hidden;
} body {
    overflow: unset;
}



.hero2 {
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:unset;
    &-title {
        display: unset;
   
    } p {
        width: 542px;
        display: unset;
    }
}





.blogs {
    margin-top: 87px;
    padding: 0 242px; 

    .menu {
        text-align: right;
        margin-bottom: 26px;
        select {
            background:white; 
            width: 67px; 
            height:38px; 
            padding: 10px;
            border:unset;
            outline: unset;
            border: 1px solid #eee;
         
        }
    }

    .items {
        display:flex;
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-between;
        row-gap:35px; 
        .item {
            width: 450px; 

            .img {
                position: relative;
                img {
                    object-fit: cover;
                    width: 100%; 
                    height: 350px;
                } .img-overlay {
                    opacity: 0;
                    z-index: 1;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    position: absolute;
                    transition: all 200ms ease 0s;
                    background: #4d289c7b;
                }
            }

            .img:hover {
                .img-overlay {
                    opacity: 1;
                }
            }

             h3 {
                margin-top: 25px;
                font-family: redhat1;
                font-size: 28px;
            } p {
                margin-top: 10px;
                font-size: 20px;
                font-family: redhat1;
            }
        }
    }
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 112px;
    margin-bottom: 206px;
    align-items: center;
    gap:50px;
    .previous,
    .next {
        display: flex;
        align-items: center;
        gap:10px; 
        svg {
            width: 16px;
            height: 16px; 
        }
    } .number {
        display: flex;
        align-items: center;
        gap: 10px; 
        span {
            font-size: 16px; 
        }
        .current {
            color:red;
            

        }
    }
}


@media screen and (max-width: 1890px) { 
    .blogs {
        padding: 0 190px;
    }
}

@media screen and (max-width: 1820px) { 
    .blogs {
        padding: 0 170px;
    }
 
}

@media screen and (max-width: 1770px) { 
    .blogs {
        padding: 0 140px;
    }
 
}

@media screen and (max-width: 1700px) { 
    .blogs {
        padding: 0 100px;
    }
}

@media screen and (max-width: 1620px) { 
    .blogs {
        .items {
            .item {
                width: 390px; 
                .img {
                    img {
                        height: 300px; 
                    }
                } h3 {
                    font-size: 23px;
                }
            }
        }
    }
}


@media screen and (max-width: 1440px) { 
    .blogs {
        padding: 0 $padding_1440;
    }

    .pagination {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 1400px) { 
    .blogs {
        margin-top: 50px; 
        .items {
            .item {
                width: 380px; 
                .img {
                    img {
                        height: 260px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1350px) { 
    
.blogs {
    margin-top: pxToVw(50, 1350);
    padding: 0 $padding_1440;

    .menu {
        margin-bottom: pxToVw(26, 1350);
        select {
            // width: pxToVw(67, 1350); 
            // height:pxToVw(38, 1350); 
            // padding: pxToVw(10, 1350);
        }
    }
    .items {
        row-gap:pxToVw(35, 1350); 
        .item {
            width: pxToVw(450, 1350); 
            width: pxToVw(380, 1350); 
            .img {
                img {
                    height: pxToVw(260, 1350);
                } 
            }
             h3 {
                margin-top: pxToVw(25, 1350);
                font-size: pxToVw(23, 1350);
            } p {
                margin-top: pxToVw(10, 1350);
                font-size: pxToVw(20, 1350);
            }
        }
    }
}

}


@media screen and (max-width: 1000px) { 
    .blogs {
        padding: 0 $padding_1000;
    }

    .pagination {
        margin-top: pxToVw(100, 1000);
        margin-bottom: pxToVw(100, 1000);
        gap:pxToVw(50, 1000);
        .previous,
        .next {
            gap:pxToVw(10, 1000); 
            font-size: pxToVw(16, 1000); 
            svg {
                width: pxToVw(16, 1000);
                height: pxToVw(16, 1000); 
            }
        } .number {
            gap: pxToVw(10, 1000); 
            span {
                font-size: pxToVw(16, 1000); 
            }
        }
    }
 
}

@media screen and (max-width: 767px) { 
    .footer-menu {
        .menu-list:last-child {
            position:unset; 
        } 

        .menu-list {
            .menu-data.sosmed {
                transform: translate(0,0);
            }
        }
    } footer {
        background: black;
        z-index: 9999;
        position: relative;
    }


    .hero2 {
        p {
            width: 100%; 
        }

        
    }

    .blogs {
        .menu {
            select {
                font-size: 12px;
                option {
                    font-size: 12px; 
                }
            }
        }
        .items {
            flex-direction:column;
            row-gap: 35px;
            .item {
                width: 100%; 
                .img {
                    img {
                        height: auto; 
                    }
                }     h3 {
                    margin-top: 15px;
                    font-family: redhat1;
                    font-size: 28px;
                } p {
                    margin-top: 10px;
                    font-size: 20px;
                    font-family: redhat1;
                }
            }
        }
    }


    .pagination {
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 35px;
        .previous,
        .next {
            gap:10px; 
            cursor: pointer;
            svg {
                width: 16px;
                height: 16px; 
            } span {
                font-size: 16px; 
            }
        } .number {
            gap: 10px; 
            span {
                font-size: 16px; 
                cursor: pointer;
            }
        }
    }

}