@import './main';
@import './main_services';


.container {
    overflow-x:hidden;
} footer {
    position: relative;
    z-index: 5;
}


.our-services.our-services2 {
    padding-top: unset; 
    .service-footer {
        margin-top: unset; 
    }
}

.our-mission.our-mission2 {
    .mission-box {
        h1 {
            font-family: redhatbold;
        }
        .detail {
            p {
                font-size: 20px; 
            }
        } a {
            font-size: 16px; 
        }
    }
}


.statistic {
    height: 1000px; 
}

@media screen and (max-width: 1570px) { 
    .statistic {
        height: 836px; 
    }
}

@media screen and (max-width: 1350px) { 
    .statistic {
        height: pxToVw(836,1350);
    }
}

@media screen and (max-width: 767px) { 
    .statistic {
        height: 516px; 
    }
 
}




@keyframes totop {
    from {
        transform: translate(0,0);
    } to {
        transform: translate(0,-5px);
    }
} @keyframes tobottom {
    from {
        transform: translate(0,0);
    } to {
        transform: translate(0,5px);
    }
}



// background handle 
// .our-services {
//     background-image: url('../assets/loginbg.webp');
//     background-repeat: no-repeat;
//     background-size: 1500px;
//     background-position: 238px -800px;

// }
// .hero {
//     background-image: url('../assets/loginbg.webp');
//     background-repeat: no-repeat;
//     background-size: 1500px;
//     background-position: 738px -800px;
// }


// .theprocess {
//     background-image: url('../assets/loginbg.webp');
//     background-repeat: no-repeat;
//     background-size: 1500px;
//     background-position: 838px -300px;
// }

.hero.hero3 {
    .hero-description {
        h1 {
            font-size: 60px; 
            width: 307px; 
            font-family: redhat3;
        }
    } .hero-animation {
        img {
            position: absolute; 
        }

        img.mobile {
            
            position: absolute;
            bottom: -428px;
            left: -1200px;
        } img.backend {
            width: 765px;
            right: -90px; 
        } img.frontend {
            right: -55px;
            width: 900px;
            bottom: -170px;
        } img.ui {
            right: -90px; 
        }
    }
}

@media screen and (max-width: 1570px) { 
    .hero.hero3 {
        .hero-animation {
            img {
                position: absolute; 
            }
    
            img.mobile {
                bottom: -328px;
                left: -900px;
                position: absolute;
                width: 1150px; 
            } img.backend {
                width: 600px; 
            } img.frontend {
                right: -55px;
                width: 700px;
                bottom: -100px;
            } img.ui {
                right: -50px; 
                width: 700px;
            }
        }
    }
}

@media screen and (max-width: 1350px) { 
    .hero.hero3 {
        .hero-description {
            h1 {
                font-size: pxToVw(60, 1350); 
                width: pxToVw(307, 1350); 
                font-family: redhat3;
            }
        }
        .hero-animation {
            img {
                position: absolute; 
            }
    
            img.mobile {
                bottom: pxToVw(-328, 1350);
                left: pxToVw(-900, 1350);
                position: absolute;
                width: pxToVw(1150, 1350); 
            } img.backend {
                width: pxToVw(600, 1350); 
                right: pxToVw(-90, 1350); 
            } img.frontend {
                right: pxToVw(-55, 1350);
                width: pxToVw(700, 1350);
                bottom: pxToVw(-100, 1350);
            } img.ui {
                right: pxToVw(-50, 1350); 
                width: pxToVw(700, 1350);
            }
        }
    }
}

@media screen and (max-width: 1000px) { 
    .hero.hero3 {
     
        .hero-animation {

            img.mobile {
                bottom: pxToVw(-280, 1350);
                left: pxToVw(-900, 1350);
                position: absolute;
                width: pxToVw(850, 1000); 
            } img.backend {
                width: 600px;
                right: -90px;
            } img.frontend {
               
            }
        }
    }
}

@media screen and (max-width: 767px) { 
    .hero.hero3 {
        justify-content: flex-start;

        .hero-description {
            text-align: center;
            h1 {
                font-size: 40px; 
                width:unset; 
            
            } 
        }

        .hero-animation {

            img.mobile {
                width: 703px;
                left: -399px;
                bottom: -500px;
            } img.backend {
                width: 400px;
                right: unset;
                bottom: -322px;
            } img.frontend {
                bottom: -459px;
                width: 480px;
                right: unset;
            } img.ui {
               right: unset; 
               width: 500px; 
               bottom: -330px; 
            }
        }
    }
}



@media screen and (max-width: 550px) { 
    .hero.hero3 {
        .hero-animation {
            img.mobile {
                width: pxToVw(703, 550);
                left: pxToVw(-399, 550);
                bottom: pxToVw(-500, 550);
            } img.backend {
                width: pxToVw(400, 550);
                right: unset;
                bottom: pxToVw(-322, 550);
            }   img.frontend {
                bottom: pxToVw(-459, 550);
                width: pxToVw(480, 550);
                right: unset;
            } img.ui {
                right: unset; 
                width: pxToVw(500, 550); 
                bottom: pxToVw(330, -550); 
             }
        }
    }
}

.hero {
    margin-top: 82px;
    height: 710px;
    display: flex;
    justify-content: space-between;
    padding: 0 $padding;
    gap: 200px;
    &-description {
        // margin-left: $padding;
        display: flex;
        justify-content: center;
        flex-direction: column;
        svg {
            width: 322px; 
            height: auto;
        } p {
            font-weight: bold;
            margin-top: 20px;
            font-size: 30px;
        }
    } &-animation {
        // margin-right: $padding;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        .laptop {
            svg {
                width: 531px;
                height: auto;
            }
        } .laptop-background {
            animation: totop 1s ease 1s infinite alternate;
            position: absolute;
            z-index: -1;
            bottom: 55px;
            left: -50px;
            svg {
                width: 547px;
                height: auto;
            }
        } .top-left-rectangle {
            animation: tobottom 1s ease 1s infinite alternate;
            position: absolute;
            z-index: -1;
            top: 275px;
            left: -30px;
            svg {
                width: 143px;
                height: auto;
            }
        } .bottom-left-rectangle {
            animation: totop 1s ease 1s infinite alternate;
            position: absolute;
            z-index: -1;
            top: 470px;
            left: -165px;
            svg {
                width: 102px;
                height: auto;
            }
        }

        .top-right-rectangle {
            position: absolute;
            animation: tobottom 1s ease 0s infinite alternate;
            z-index: -1;
            top: 425px;
            right: -70px;
            svg {
                width: 102px;
                height: auto;
            }
        }
        .bottom-right-rectangle {
            animation: totop 1s ease 0s infinite alternate;
            position: absolute;
            z-index: -1;
            top: 520px;
            right: -110px;
            svg {
                width: 61px;
                height: auto;
            }
        }
    }
}







.theprocess {
    
    padding: 144px $padding;
    .title {
        font-size: 40px;
        padding-right: 30px;
        border-bottom: 2px solid $purple;
        display: inline-block;
        margin-bottom: 100px;
    } .cards {
        display: flex;
        justify-content: space-between;
        gap:20px;
        .box:first-child {
            .header {
                h5 {transform: translate(-5px,-22px);}
            }
        }
        .box:nth-child(2) {
            .header {
                h5 {transform: translate(20px,-22px);}
            }
        }
        .box:last-child {
            .header {
                h5 {transform: translate(20px,-22px);}
            }
        }
        .box {
            transition: all 500ms ease 0s;
            width: 316px; 
            .header {
                display: flex;
                align-items: flex-end;
                h1 {
                    width: 59px;
                    font-size: 100px;
                    font-family: redhatbold;
                } h5 {
                    font-size: 40px;
                    font-weight: unset;
                    font-family: redhat1;
                    text-transform: uppercase;
                }
                border-bottom: 2px solid $purple;
            } p {
                font-size: 20px;
                margin-top: 20px;
                line-height: 1.5;
            }
        }
    }
}


.consultation::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 578px;
    content: '';
    background:#F7F7F7;
    z-index: -1;
    box-shadow: 0 0 35px 0 #ccc;
}
.consultation {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 95px $padding;
    gap:60px;
    .bottom-img {
        display: none;
    }
    img {
        width: 756px;
        object-fit: cover;
    } .layout {
        width:552px;    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .header {
            display: flex;
            flex-direction: column;
            gap: 15px;            
            .desc {
                margin: 20px 0;
            }
            h1 {
                font-family: redhat2;
                font-size: 40px;
            } p {
                font-size: 30px;
            } .sign {
                p:first-child {
                    font-weight: bold;
                } p:last-child {
                    margin-top: 5px;
                    color: $purple;
                }
            }
        } .footer {
            h1 {
                font-size: 40px;
                margin-bottom: 30px;
                font-family: redhat3;
            }
            .buttons {
                display: flex;
                gap: 40px; 
                
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 256px;
                    height: 46px; 
                    font-size: 20px;
                }
            }
        }
    }
}


.questions::before {
    content: '';
    left: 0;
    right: 0;
    top: -84px;
    bottom: -150px;
    max-height: 9999px;
    background: #532aad11;
    position: absolute;
    z-index: -1;
}





// Animation 
$move: 50px; 
$opac: 0; 
// $transition: all 2s ease 0s; 
body {
    // // transition: $transition;
    overflow: hidden;
}
.hero {
    // // transition: $transition;
    transform: translate(0,$move);
    opacity: $opac;
} .our-mission {
    // // transition: $transition;
    transform: translate(0,$move);
    opacity: $opac;
} .our-services {
    // // transition: $transition;
    transform: translate(0,$move);
    opacity: $opac;

    p.desc {
        font-size: 20px;
    }
} .statistic {
    // // transition: $transition;
    transform: translate(0,$move);
    opacity: $opac;
} .theprocess {
    // // transition: $transition;
    transform: translate(0,$move);
    opacity: $opac;
} .consultation {
    // // transition: $transition;
    transform: translate(0,$move);
    opacity: $opac;
} .stayuptodate {
    // // transition: $transition;
    transform: translate(0,$move);
    opacity: $opac;
} .footer-menu {
    // // transition: $transition;
    transform: translate(0,$move);
    opacity: $opac;
}

$move: 0; 
$opac: 1; 
body.show {
    overflow: unset;
}
.hero.show {
    transform: translate(0,$move);
    opacity: $opac;
} .our-mission.show {
    transform: translate(0,$move);
    opacity: $opac;
} .our-services.show {
    transform: translate(0,$move);
    opacity: $opac;
} .statistic.show {
    transform: translate(0,$move);
    opacity: $opac;
} .theprocess.show {
    transform: translate(0,$move);
    opacity: $opac;
} .consultation.show {
    transform: translate(0,$move);
    opacity: $opac;
} .stayuptodate.show {
    transform: translate(0,$move);
    opacity: $opac;
} .footer-menu.show {
    transform: translate(0,$move);
    opacity: $opac;
}





@media screen and (max-width: 1820px) {
    .consultation {
        padding: 95px $padding_1810;
    } .theprocess {
        padding: 95px $padding_1810;
    } .questions {
        padding: 0 $padding_1810;
    }  .hero {
        gap: unset; 
        justify-content: space-between;
        padding: 0 150px;
    }
}


@media screen and (max-width: 1650px) { 
    
}



@media screen and (max-width: 1570px) { 
   
    .hero {
        margin-top: 82px;
        padding: 0 150px 0 100px;
        height: 600px; 
        &-description {
            svg {
                width: 270px;
            } p {
                font-size: 25px; 
                margin-top: 20px;
            }
        } &-animation {
            $sizing: 50;
            .laptop {
                svg {
                    width: 450px;
                }
            } .laptop-background {
                bottom: 52px;
                left: -38px;
                svg {
                    width: 466px;
                }
            } .top-left-rectangle {
                top: 232px;
                left: -12px;
                svg {
                    width: 110px; 
                }
            } .bottom-left-rectangle {
                top: 400px;
                left: -122px;
                svg {
                    width: 79px;
                }
            } .bottom-right-rectangle {
                top: 446px;
                right: -74px;
                svg {
                    width: 38px;
                }
            } .top-right-rectangle {
                top:369px;
                right: -56px;
                svg {
                    width: 79px;
                }
            }
        }
    }

    
    
    .consultation::before {
        height: 470px;
    }
    .consultation {
        img {
            width: 600px;
        } .layout {
            
            .header {
                h1 {
                    font-size: 35px;
                } p {
                    font-size: 25px;
                    
                }
            } .footer {
                h1 {
                    font-size: 35px;
                } .buttons {
                    font-size: 18px;
                }
            }
        }
    }

    
}


@media screen and (max-width: 1440px) { 
  

    .hero {
        gap: unset; 
        justify-content: space-between;
        padding: 0 150px 0 $padding_1440;
    }

    .consultation {
        gap: 30px; 
        padding: 95px $padding_1440;
    } .theprocess {
        padding: 95px $padding_1440;
    }  .questions {
        padding: 0 $padding_1440;
        margin-top: 120px;
        &-items {
            .questions-item {
                .questions-item-body {
                    p {
                        width: unset;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 1350px) { 

   

    .hero {
        padding: 0 pxToVw(150, 1350) 0 pxToVw(60, 1350);
        margin-top: pxToVw(82, 1350);
        height: pxToVw(600, 1350); 
        &-description {
            svg {
                width: pxToVw(270, 1350);
            } p {
                font-size: pxToVw(25, 1350); 
                margin-top: pxToVw(20, 1350);
            }
        } &-animation {
            $sizing: 50;
            .laptop {
                svg {
                    width: pxToVw(450, 1350);
                }
            } .laptop-background {
                bottom: pxToVw(52, 1350);
                left: pxToVw(-38, 1350);
                svg {
                    width: pxToVw(466, 1350);
                }
            } .top-left-rectangle {
                top: pxToVw(232, 1350);
                left: pxToVw(-12, 1350);
                svg {
                    width: pxToVw(110, 1350); 
                }
            } .bottom-left-rectangle {
                top: pxToVw(400, 1350);
                left: pxToVw(-122, 1350);
                svg {
                    width: pxToVw(79, 1350);
                }
            } .bottom-right-rectangle {
                top: pxToVw(446, 1350);
                right: pxToVw(-74, 1350);
                svg {
                    width: pxToVw(38, 1350);
                }
            } .top-right-rectangle {
                top:pxToVw(369, 1350);
                right: pxToVw(-56, 1350);
                svg {
                    width: pxToVw(79, 1350);
                }
            }
        }
    }



   
  
   


    .consultation::before {
        height: pxToVw(470, 1350);
    }
    .consultation {
        padding: pxToVw(95, 1350) $padding_1440;
        gap: pxToVw(30, 1350); 
        img {
            width: pxToVw(600, 1350);
        } .layout {
            width: pxToVw(552,1350);
            
            .header {
                gap: pxToVw(15, 1350);
                h1 {
                    font-size: pxToVw(35, 1350);
                } p {
                    font-size: pxToVw(25, 1350);
                    
                } .desc {
                    margin: pxToVw(20, 1350) 0;
                }
            } .footer {
                h1 {
                    font-size: pxToVw(35, 1350);
                } .buttons {
                    gap: pxToVw(40, 1350); 
                    a {
                        width: pxToVw(256, 1350);
                        height: pxToVw(46, 1350);
                        font-size: pxToVw(18, 1350);
                    } 
                }
            }
        }
    }


    .theprocess {
        padding: pxToVw(95, 1350) $padding_1440;
        .title {
            margin-bottom: pxToVw(65,1350 );
            padding-right: pxToVw(30, 1350);
            border-bottom: 2px solid $purple;
        } .cards {
            gap:pxToVw(20,1350);
            .box:first-child {
                .header {
                    h5 {transform: translate(pxToVw(-5, 1350),pxToVw(-22,1350));}
                }
            }
            .box:nth-child(2) {
                .header {
                    h5 {transform: translate(pxToVw(20,1350),pxToVw(-22,1350));}
                }
            }
            .box:last-child {
                .header {
                    h5 {transform: translate(pxToVw(20,1350),pxToVw(-22,1350));}
                }
            }

            .box {
                width: pxToVw(316,1350) ;
                .header {

                    h1 {
                        width: pxToVw(59,1350);
                        font-size: pxToVw(100,1350);
                      
                    } h5 {
                        font-size: pxToVw(40,1350 );
                   
                    }
                    border-bottom: 2px solid $purple;
                } p {
                    font-size: pxToVw(20,1350);
                    margin-top: pxToVw(20,1350);
                   
                }
            }
        }
    }
}




@media screen and (max-width: 1000px) { 
    
    .consultation {
        gap: pxToVw(20, 1350); 
        padding-left: $padding_1000;
        padding-right: $padding_1000;
    } .questions {
        padding: 0 $padding_1000;
        h3 {
            font-size: 30px;
        }
    } .theprocess {
        padding-left: $padding_1000;
        padding-right: $padding_1000;
    }

   
    
}



// Smartphone 
@media screen and (max-width: 767px) { 

   

    .hero {
        margin-top: 93px; 
        height: 539px;
        gap: unset;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:30px;
        padding: 0 pxToVw(60, 1350) 0 pxToVw(60, 1350);
        &-description {
            svg {
                width: 203px;
            } p {
                font-size: 20px;
            }
        } &-animation {
            .laptop {
                svg {
                    width: 300px; 
                }
            } .laptop-background {
                bottom: -19px;
                left: -24px;
                svg {
                    width: 307px; 
                }
            } .top-left-rectangle {
                top: 103px;
                left: -20px;
                svg {
                    width: 80px; 
                }
            } .bottom-left-rectangle {
                top: 214px;
                left: -80px;
                svg {
                    width: 58px; 
                }
            } .top-right-rectangle {
                top: 188px;
                right: -39px;
                svg {
                    width: 58px; 
                }
            } .bottom-right-rectangle {
                top: 232px;
                right: -69px;
                svg {
                    width: 39px;
                }
            }
        }
    }

    .questions {
        &-items {
            .questions-item {
                .questions-item-header {
                    span {
                        font-size:12px;
                    }
                } .questions-item-body {
                    p {
                        font-size: 13px;
                    }
                }
            }
        }
    }
   
   
   

   
   


    .consultation::before {
        height: 750px;
    }
    .consultation {
        padding: 35px $padding_1000; 
        flex-direction: column-reverse;
        gap: 36px; 


        .bottom-img {
            display: unset;
            a.btn {
                display: block;
                font-size: 16px;
                height: 45px; 
                padding: 12px; 
                width: 100%; 
                box-shadow: 0 0 5px $purple;
                margin-top: 15px;
                border-radius: 5px;
            } h1 {
                font-size: 40px; 
                font-family: redhatbold;
                margin-bottom: 30px;
            }
        }

        img {
            width: 100%; 
        } .layout {
            width: 100%;
            .header {
                .desc {
                    margin:17px 0;
                } h1 {
                    font-size: 40px;
                } p {
                    font-size: 30px; 
                } 
            } .footer {
                display: none;
            }
        }
    }

    .theprocess {
        overflow: hidden;

        

        .title {
            display:block;
            padding:unset;
            font-size: 40px;
            margin-bottom: 30px;
        } .cards {
            gap:unset; 
            
            overflow: hidden;
            .box {
                @include flexwidth(100%);
                .header {
                    h1 {
                        font-size: 100px;
                        width: 38px; 
                    } h5 {
                        font-size: 30px; 
                        margin-left: 15px;
                    }
                } p {
                    font-size: 20px;
                    margin-top: 20px; 
                }
            }
            .box:first-child {
                .header {
                    h5 {transform: translate(-5px,-22px);}
                }
            }
            .box:nth-child(2) {
                .header {
                    h5 {transform: translate(20px,-22px);}
                }
            }
            .box:last-child {
                .header {
                    h5 {transform: translate(20px,-22px);}
                }
            }
        }
    }
}


@media screen and (max-width: 555px) { 
    .hero {
        margin-top: 93px; 
        height: 539px;
        gap: unset;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:30px;
        &-description {
            svg {
                width: 163px;
            } p {
                font-size: 20px
            }
        } &-animation {
            .laptop {
                svg {
                    width: 252px; 
                }
            } .laptop-background {
                bottom: -17px;
                left: -21px;
                svg {
                    width: 259px; 
                }
            } .top-left-rectangle {
                top: 88px;
                left: -20px;
                svg {
                    width: 68px; 
                }
            } .bottom-left-rectangle {
                top: 176px;
                left: -77px;            
                svg {
                    width: 48px; 
                }
            } .top-right-rectangle {
                top: 164px;
                right: -39px;
                svg {
                    width: 48px; 
                }
            } .bottom-right-rectangle {
                top: 204px;
                right: -65px;
                svg {
                    width: 29px;
                }
            }
        }
    }
}