@import './main';


.loginas {
    padding: 0 186px;
    display: flex;
    height: 100dvh;
    flex-direction: column;
    justify-content: center;
    h1 {
        font-size: 49px;
        font-family: redhat2;
    } p {
        margin-top: 56px;
        margin-bottom: 37px;
        font-size: 25px;
        font-family: redhat1;
    } .structure {
        display: flex;
        flex-direction: column;
        gap: 15px;
    } .row {
        display: flex;
        align-items: center;
        gap: 15px;

        .btn {
           width: 318px;
           padding: 13px;  
           border-radius: 5px;
           box-shadow: 0 0 5px $purple;
        }
    }
}


@media screen and (max-width: 1820px) { 
    .loginas {
        padding: 0 $padding_1810;
    }
}

@media screen and (max-width: 1570px) { 
    .loginas {
        h1 {
            font-size: 39px;
            font-family: redhat2;
        } p {
            margin-top: 36px;
            margin-bottom: 37px;
            font-size: 20px;
            font-family: redhat1;
        } .structure {
            display: flex;
            flex-direction: column;
            gap: 15px;
        } .row {
            display: flex;
            align-items: center;
            gap: 15px;
    
            .btn {
               width: 298px;
               padding: 13px;  
               border-radius: 5px;
               box-shadow: 0 0 5px $purple;
            }
        }
    }
}

@media screen and (max-width: 1440px) { 
    .loginas {
        padding: 0 $padding_1440;
    }
 
}

@media screen and (max-width: 1000px) { 
    .loginas {
        h1 {
            font-size: pxToVw(39, 1000);
        } p {
            margin-top: pxToVw(36, 1000);
            margin-bottom: pxToVw(37, 1000);
            font-size: pxToVw(20, 1000);
        } .structure {
            gap: pxToVw(15, 1000);
        } .row {
            gap: pxToVw(15, 1000);
            .btn {
               width: pxToVw(298, 1000);
               padding: pxToVw(13, 1000);  
               border-radius: pxToVw(5, 1000);
               box-shadow: 0 0 pxToVw(5, 1000) $purple;
               font-size: pxToVw(15, 1000);
            }
        }
    }
}


@media screen and (max-width: 767px) { 
 
.loginas {
    padding: 0 $padding_1000;
    display: flex;
    height: 100dvh;
    flex-direction: column;
    justify-content: center;
    h1 {
        font-size: 30px;
        font-family: redhat2;
    } p {
        margin-top: 15px;
        margin-bottom: 37px;
        font-size: 18px;
        font-family: redhat1;
    } .structure {
        display: flex;
        flex-direction: column;
        gap: 15px;
    } .row {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;

        .btn {
           width: 100%;
           padding: 13px;  
           border-radius: 5px;
           box-shadow: 0 0 5px $purple;
           font-size: 15px;
        }
    }
}

}