@font-face {
  font-family: redhat;
  src: url("../assets/RedHatDisplay-Regular.ttf");
}

@font-face {
  font-family: redhatbold;
  src: url("../assets/RedHatDisplay-Black.ttf");
}

@font-face {
  font-family: redhatsemi;
  src: url("../assets/RedHatDisplay-SemiBold.ttf");
}

@font-face {
  font-family: redhat1;
  src: url("../assets/RedHatDisplay-Light.ttf");
}

@font-face {
  font-family: redhat2;
  src: url("../assets/RedHatDisplay-Medium.ttf");
}

@font-face {
  font-family: redhat3;
  src: url("../assets/RedHatDisplay-Bold.ttf");
}

@font-face {
  font-family: redhat4;
  src: url("../assets/RedHatDisplay-ExtraBold.ttf");
}

@-webkit-keyframes bubble {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes bubble {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  overflow: hidden;
}

.chatbox.active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.chatbox {
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  -webkit-transform: scale(0);
          transform: scale(0);
  border-radius: 30px;
  width: 378px;
  bottom: 130px;
  right: 60px;
  height: 530px;
  position: fixed;
  z-index: 999;
}

.chatbox .footer {
  border-radius: 0 0 20px 20px;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  position: absolute;
  background: white;
  padding: 5px;
}

.chatbox .footer input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  height: 45px;
}

.chatbox .footer .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatbox .footer .option #fileupload {
  display: none;
}

.chatbox .footer .option .fileupload svg {
  cursor: pointer;
}

.chatbox .footer .option .sendbtn {
  border: unset;
  outline: unset;
  background: #4d289c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 55px;
          flex: 1 0 55px;
  border-radius: 50%;
}

.chatbox .header {
  border-radius: 20px 20px 0 0;
  background: #4d289c;
  color: white;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatbox .header h5 {
  font-size: 17px;
}

.chatbox .header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.chatbox .header .menu .arrow {
  cursor: pointer;
}

.chatbox .body {
  background: #ECF3FC;
  height: 400px;
  padding: 10px;
  border-radius: 0 0 20px 20px;
}

.chatbox .body .box-white {
  right: 9.5px;
  bottom: 15px;
  border-radius: 5px;
  position: absolute;
  -webkit-transform: translate(0, -30px);
          transform: translate(0, -30px);
  height: 410px;
  background: white;
  width: 95%;
}

.chatbox .body .box-white .random-chat {
  text-align: right;
  margin-top: 25px;
}

.chatbox .body .box-white .random-chat span {
  margin-right: 10px;
  padding: 10px 15px;
  border: 1px solid #4d289c;
  border-radius: 100px;
  color: #4d289c;
}

.chatbox .body .box-white .chats::-webkit-scrollbar {
  display: none;
}

.chatbox .body .box-white .chats {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  max-height: 330px;
  padding: 15px;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chatbox .body .box-white .chats .bot,
.chatbox .body .box-white .chats .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
}

.chatbox .body .box-white .chats .bot .vector,
.chatbox .body .box-white .chats .user .vector {
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26px;
          flex: 0 0 26px;
  height: 26px;
  background: #4d289c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatbox .body .box-white .chats .bot .bubblechat {
  background: #D9D9D9;
  color: black;
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
}

.chatbox .body .box-white .chats .user .bubblechat {
  background: #F18700;
  color: white;
  font-size: 14px;
  padding: 10px;
  border-radius: 7px 7px 3px 7px;
}

.chatbot {
  cursor: pointer;
  width: 64px;
  height: 64px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 64px;
          flex: 1 0 64px;
  background: #4d289c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  position: fixed;
  right: 63px;
  bottom: 50px;
  z-index: 999;
}

.dotted-process {
  display: none;
  width: 29px;
  margin: 22px auto;
}

.dotted-process span {
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #D9D9D9;
  border-radius: 50%;
  cursor: pointer;
}

.dotted-process span.active {
  background: #7B7B7B;
}

.container {
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
  font-family: redhat;
  background-image: url("../assets/loginbg.png");
  background-size: 1700px;
  background-position: 524px -730px;
}

.text-center {
  text-align: center;
}

.shadow-purple {
  -webkit-box-shadow: 0 0 3px 0 #4d289c;
          box-shadow: 0 0 3px 0 #4d289c;
}

.shadow {
  -webkit-box-shadow: 0 0 10px 0 #ccc;
          box-shadow: 0 0 10px 0 #ccc;
}

input {
  border: unset;
  outline: unset;
  -webkit-box-shadow: inset 1px 3px 3px 0 #eee;
          box-shadow: inset 1px 3px 3px 0 #eee;
  border-radius: 3px;
  padding: 8px 8px;
  color: #ccc;
  height: 37px;
}

.hero2 {
  margin-top: 62px;
  height: 736px;
  gap: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../assets/heroimg.png");
  background-size: cover;
}

.hero2-title {
  display: none;
  text-align: center;
  font-size: 40px;
  color: white;
}

.hero2 p {
  display: none;
  line-height: 1.5;
  font-size: 20px;
  width: 816px;
  color: white;
  margin-top: 30px;
  text-align: center;
}

.hero2 .search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.hero2 .search-input svg {
  position: absolute;
  top: 38px;
  right: 18px;
  width: 17px;
  height: 17px;
}

.hero2 .search-input input {
  width: 724px;
  color: #BBBBBB;
  font-size: 15px;
  padding: 8px 16px;
  font-family: redhat1;
  -webkit-box-shadow: inset 0 -5px 5px #ccc;
          box-shadow: inset 0 -5px 5px #ccc;
  background: url("../assets/search.svg") no-repeat 95% 20px;
  background: #F9F9F9;
  margin-top: 29px;
}

.hero2 .search-input input:-ms-input-placeholder {
  color: #BBBBBB;
  font-size: 15px;
}

.hero2 .search-input input::-webkit-input-placeholder {
  color: #BBBBBB;
  font-size: 15px;
}

.hero2 .search-input input::-ms-input-placeholder {
  color: #BBBBBB;
  font-size: 15px;
}

.hero2 .search-input input::placeholder {
  color: #BBBBBB;
  font-size: 15px;
}

input::-webkit-input-placeholder {
  color: #ccc;
  font-size: 11px;
}

input:-ms-input-placeholder {
  color: #ccc;
  font-size: 11px;
}

input::-ms-input-placeholder {
  color: #ccc;
  font-size: 11px;
}

input::placeholder {
  color: #ccc;
  font-size: 11px;
}

.inputpassword {
  width: 100%;
  position: relative;
}

.inputpassword input {
  width: 100%;
}

.inputpassword .eye {
  cursor: pointer;
  top: 12px;
  right: 10px;
  position: absolute;
  width: 16px;
}

.btn-orange,
.btn-darkgray,
.btn-dark,
.btn-light,
.btn-purple {
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  padding: 6px;
  font-size: 13px;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  border: unset;
  outline: unset;
  font-weight: unset;
  cursor: pointer;
}

.btn-darkgray {
  background: #7C7C7C;
  color: white;
}

.btn-dark {
  background: black;
  color: #ccc;
}

.btn-purple {
  background: #4d289c;
  color: white;
}

.btn-orange {
  background: #F18700;
  color: black;
}

.btn-purple:hover {
  background: black;
  color: white;
}

header {
  background: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  -webkit-box-shadow: 0 2px 8px 0 #ccc;
          box-shadow: 0 2px 8px 0 #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .mobile-menu {
  display: none;
}

header .logo {
  cursor: pointer;
  margin-left: 20px;
  font-weight: bold;
  color: black;
}

header .logo svg {
  width: 133px;
  height: auto;
}

header ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  list-style: none;
}

header ul a {
  color: black;
  font-size: 15px;
}

header ul li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

header ul li.navigator,
header ul li.mylogo {
  display: none;
}

header ul .btn-dark {
  width: 140px;
}

header ul .btn-light {
  width: 100px;
}

footer.fixed {
  position: fixed;
}

footer {
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  padding: 15px;
  gap: 40px;
}

footer span {
  margin-left: 15px;
  color: #aaa;
  font-size: 10px;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

footer .links a {
  color: #eee;
  font-size: 9px;
}

.footer-menu {
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 346px;
  padding: 49px;
}

.footer-menu .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-menu .header p {
  color: #4d289c;
  font-size: 20px;
  width: 243px;
}

.footer-menu .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-menu .menu-list .menu-data.background::before {
  position: absolute;
  content: '';
  width: 255px;
  height: 293px;
  background: #532aad21;
  left: -30px;
  top: -30px;
  z-index: -1;
  border-radius: 30px 0 0 0;
}

.footer-menu .menu-list .menu-data.background {
  margin: 0 32px;
  z-index: 2;
}

.footer-menu .menu-list .menu-data.sosmed svg {
  cursor: pointer;
}

.footer-menu .menu-list .menu-data {
  position: relative;
  height: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.footer-menu .menu-list .menu-data .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.footer-menu .menu-list .menu-data .information h5 {
  color: #4d289c;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-menu .menu-list .menu-data .information-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.footer-menu .menu-list .menu-data .information-data span {
  color: white;
}

.footer-menu .menu-list .menu-data .information-sosmed {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
}

.footer-menu .menu-list .menu-data h5 {
  font-size: 20px;
  color: #4d289c;
}

.footer-menu .menu-list .menu-data .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.footer-menu .menu-list .menu-data .links a {
  font-size: 12px;
  color: white;
  font-family: redhat2;
}

.footer-menu .menu-list .menu-data a {
  color: #4d289c;
  font-size: 12px;
}

.footer-menu .menu-list .menu-data ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.footer-menu .menu-list .menu-data ul li a {
  color: white;
  font-size: 12px;
  font-family: redhat2;
  font-weight: unset;
}

.footer-menu .menu-list .menu-data .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.footer-menu .menu-list .menu-data .buttons a {
  width: 194px;
  height: 40px;
  font-size: 14px;
  font-family: redhat2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: redhat1;
}

.footer-menu .menu-list .menu-data .buttons a.btn-purple {
  color: white;
  font-weight: bold;
}

.footer-menu .menu-list .menu-data .buttons a.btn-orange {
  color: black;
  font-family: redhat1;
  font-weight: bold;
}

.footer-menu .menu-list:nth-child(2) {
  gap: 100px;
}

.footer-menu .menu-list:nth-child(3) {
  margin-right: 221px;
}

.stayuptodate {
  background: #4d289c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 198px;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stayuptodate h1 {
  font-size: 30px;
  font-family: redhat1;
  color: white;
  text-transform: uppercase;
}

.stayuptodate input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 10px;
  font-size: 15px;
}

.stayuptodate input::-webkit-input-placeholder {
  font-size: 15px;
}

.stayuptodate input:-ms-input-placeholder {
  font-size: 15px;
}

.stayuptodate input::-ms-input-placeholder {
  font-size: 15px;
}

.stayuptodate input::placeholder {
  font-size: 15px;
}

.stayuptodate input::-webkit-input-placeholder {
  font-size: 15px;
}

.stayuptodate button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  height: 34px;
  background: black;
  color: white;
  border: unset;
  font-size: 15px;
}

.stayuptodate button svg {
  width: 20px;
  height: 20px;
}

.statistic {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 736px;
  background-image: url("../assets/bgdashboard.png");
  background-size: cover;
}

.statistic .box {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.statistic .box .detail {
  margin-top: 55px;
  text-align: center;
}

.statistic .box .detail h1, .statistic .box .detail h5 {
  color: white;
}

.statistic .box .detail h5 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: redhat1;
}

.statistic .box .detail h1 {
  font-size: 100px;
  font-family: redhatbold;
}

.statistic .box .circle {
  width: 160px;
  height: 160px;
  background: transparent;
  border: 10px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}

.statistic .box .circle:hover {
  background: #4d289c;
}

.our-mission {
  -webkit-box-shadow: 0 0 20px #999;
          box-shadow: 0 0 20px #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  background: #F7F7F7;
  padding: 55px 198px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 128px;
}

.our-mission a.btn.hide {
  display: none;
}

.our-mission img {
  width: 762px;
  height: 508px;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-mission .mission-box {
  width: 506px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.our-mission .mission-box h1 {
  padding-right: 70px;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 4px solid #4d289c;
  font-size: 40px;
  font-family: redhatsemi;
  font-weight: bold;
}

.our-mission .mission-box .detail h5 {
  font-size: 18px;
  font-family: redhat2;
  font-weight: bold;
}

.our-mission .mission-box .detail p {
  font-size: 18px;
}

.our-mission .mission-box .btn {
  width: 256px;
  padding: 10px;
  -webkit-box-shadow: 0 0 5px 0 #4d289c;
          box-shadow: 0 0 5px 0 #4d289c;
}

.questions {
  position: relative;
  padding: 0 198px;
  margin-top: 249px;
  margin-bottom: 110px;
}

.questions h3 {
  font-size: 50px;
  font-family: redhat2;
  margin-bottom: 20px;
}

.questions-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.questions-items .questions-item.active {
  max-height: 1000px;
}

.questions-items .questions-item {
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  background: white;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
  border-radius: 11px;
  padding: 19px 30px;
  max-height: 58px;
  overflow: hidden;
}

.questions-items .questions-item .questions-item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions-items .questions-item .questions-item-header span {
  font-size: 15px;
  font-family: redhat1;
  text-transform: uppercase;
}

.questions-items .questions-item .questions-item-body {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.questions-items .questions-item .questions-item-body p {
  width: 1000px;
}

.success-form.active {
  opacity: 1;
}

.success-form {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.success-form h1 {
  font-size: 50px;
  font-family: redhatbold;
}

.success-form svg {
  margin-top: 41px;
}

.project-form.active.finished {
  -webkit-transform: translate(-500%, -50%);
          transform: translate(-500%, -50%);
  opacity: 0;
}

.project-form.active {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: unset;
}

.project-form {
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  pointer-events: none;
  opacity: 0;
  position: fixed;
  margin-top: 34px;
  background: white;
  padding: 103px 72px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
  width: 855px;
  z-index: 999;
}

.project-form .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-form .header h1 {
  font-size: 26px;
  padding-right: 30px;
  display: inline-block;
  padding-bottom: 10px;
  font-family: redhat1;
}

.project-form .header p {
  font-size: 20px;
  font-family: redhat1;
  width: 514px;
}

.project-form form .btn-purple {
  margin-top: 46px;
  width: 100%;
  height: 46px;
}

.project-form form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.project-form form .form-group label {
  font-family: 15px;
  font-family: redhat1;
  text-transform: uppercase;
}

.project-form form .form-group input, .project-form form .form-group textarea {
  background: white;
  height: 37px;
  color: #BBBBBB;
}

.project-form form .form-group textarea {
  border-radius: 3px;
  height: 294px;
  padding: 15px;
  border: unset;
  outline: unset;
  -webkit-box-shadow: inset 1px 3px 3px 0 #eee;
          box-shadow: inset 1px 3px 3px 0 #eee;
  color: #BBBBBB;
  font-size: 15px;
}

.project-form form .form-group textarea.project {
  height: 129px;
}

.project-form form .form-group input {
  font-size: 15px;
}

.project-form form .form-group input::-webkit-input-placeholder {
  font-size: 15px;
}

.project-form form .form-group input:-ms-input-placeholder {
  font-size: 15px;
}

.project-form form .form-group input::-ms-input-placeholder {
  font-size: 15px;
}

.project-form form .form-group input::placeholder {
  font-size: 15px;
}

.project-form form .form-header.dotted {
  padding-top: 36px;
  margin-top: 30px;
  border-top: 2px dotted black;
}

.project-form form .form-header {
  margin-top: 56px;
  margin-bottom: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 41px;
}

.project-form form .form-header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
  width: 514px;
}

.project-form form .form-header .right .form-group .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-form form .form-header .right .form-group .numbers select {
  background: white;
  padding: 13px;
  padding-right: 50px;
  color: black;
  border: unset;
  outline: none;
  -webkit-appearance: none;
  background: url("../assets/arrowselect.svg") no-repeat 65px 23px;
  -webkit-box-shadow: 0 0 2px #ccc;
          box-shadow: 0 0 2px #ccc;
}

.project-form form .form-header .right .form-group .numbers input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.project-form form .form-header .right .form-group .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.project-form form .form-header .right .form-group .inputs input.date {
  width: 53px;
}

.project-form form .form-header .right .form-group .inputs input.month {
  width: 53px;
}

.project-form form .form-header .right .form-group .inputs input.years {
  width: 72px;
}

.project-form form .form-header .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
}

.project-form form .form-header .left .username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.project-form form .form-header .left .username .form-group {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 1820px) {
  .footer-menu .menu-list:nth-child(2) {
    gap: 60px;
  }
  .stayuptodate {
    padding: 20px 100px;
  }
  .our-mission {
    padding: 55px 100px;
  }
}

@media screen and (max-width: 1650px) {
  .footer-menu {
    padding: 25px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer-menu .menu-list:nth-child(3) {
    margin-right: unset;
  }
  .our-mission {
    gap: 50px;
  }
}

@media screen and (max-width: 1570px) {
  .hero2 {
    height: 600px;
  }
  header ul {
    gap: 40px;
  }
  .footer-menu {
    padding: 25px;
  }
  .footer-menu .menu-list:nth-child(3) {
    margin-right: unset;
  }
  .our-mission img {
    width: 662px;
    height: 408px;
  }
  .our-mission .mission-box {
    width: 480px;
  }
  .statistic {
    height: 636px;
  }
  .statistic .box {
    width: 350px;
  }
  .statistic .box .detail h1 {
    font-size: 80px;
  }
  .statistic .box .detail h5 {
    font-size: 25px;
  }
  .statistic .box .circle {
    width: 130px;
    height: 130px;
  }
  .statistic .box .circle svg {
    width: 60px;
  }
}

@media screen and (max-width: 1440px) {
  .chatbox {
    width: 330px;
    height: 480px;
    bottom: 93px;
    right: 39px;
  }
  .chatbox .footer input {
    height: 30px;
  }
  .chatbox .footer .option .sendbtn {
    width: 40px;
    height: 40px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40px;
            flex: 1 0 40px;
  }
  .chatbox .footer .option .sendbtn svg {
    width: 15px;
    height: 15px;
  }
  .chatbox .header {
    padding: 13px;
  }
  .chatbox .header h5 {
    font-size: 17px;
  }
  .chatbox .header .menu {
    gap: 15px;
  }
  .chatbox .body .box-white {
    height: 366px;
  }
  .chatbox .body .box-white .chats {
    max-height: 277px;
  }
  .chatbox .body .box-white .chats .bot .bubblechat,
  .chatbox .body .box-white .chats .user .bubblechat {
    font-size: 12px;
  }
  .chatbox .body .box-white .random-chat span {
    padding: 5px 10px;
    font-size: 14px;
  }
  .chatbot {
    width: 50px;
    height: 50px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50px;
            flex: 1 0 50px;
    right: 45px;
    bottom: 35px;
  }
  .chatbot svg {
    width: 27px;
    height: 27px;
  }
  .stayuptodate {
    padding: 20px 60px;
  }
  .footer-menu .header svg {
    width: 150px;
    height: auto;
  }
  .footer-menu .menu-list:nth-child(2) {
    gap: 50px;
  }
  .footer-menu .menu-list .menu-data .buttons a {
    width: 150px;
  }
  .our-mission {
    padding: 55px 60px;
  }
}

@media screen and (max-width: 1350px) {
  .hero2 {
    margin-top: 4.59259vw;
    height: 44.44444vw;
  }
  .hero2-title {
    font-size: 2.96296vw;
  }
  .hero2 p {
    font-size: 1.48148vw;
    width: 60.44444vw;
    margin-top: 2.22222vw;
  }
  .hero2 .search-input input {
    width: 53.62963vw;
    font-size: 1.11111vw;
    padding: 0.59259vw 1.18519vw;
    -webkit-box-shadow: inset 0 -0.37037vw 0.37037vw #ccc;
            box-shadow: inset 0 -0.37037vw 0.37037vw #ccc;
    background: url("../assets/search.svg") no-repeat 95% 1.48148vw;
    background: #F9F9F9;
    margin-top: 2.14815vw;
  }
  .hero2 .search-input input:-ms-input-placeholder {
    font-size: 1.11111vw;
  }
  .hero2 .search-input input::-webkit-input-placeholder {
    font-size: 1.11111vw;
  }
  .hero2 .search-input input::-ms-input-placeholder {
    font-size: 1.11111vw;
  }
  .hero2 .search-input input::placeholder {
    font-size: 1.11111vw;
  }
  .hero2 .search-input svg {
    top: 2.81481vw;
    right: 1.33333vw;
  }
  .our-mission {
    gap: 3.7037vw;
  }
  .our-mission img {
    width: 49.03704vw;
    height: 30.22222vw;
  }
  .our-mission .mission-box {
    width: 35.55556vw;
    gap: 2.22222vw;
  }
  .our-mission .mission-box h1 {
    padding-right: 2.22222vw;
    padding-bottom: 0.37037vw;
    font-size: 2.96296vw;
    border-bottom: 0.2963vw solid #4d289c;
  }
  .our-mission .mission-box .detail h5 {
    font-size: 1.33333vw;
  }
  .our-mission .mission-box .detail p {
    font-size: 1.33333vw;
  }
  .our-mission .mission-box .btn {
    width: 18.96296vw;
    padding: 0.74074vw;
    -webkit-box-shadow: 0 0 0.37037vw 0 #4d289c;
            box-shadow: 0 0 0.37037vw 0 #4d289c;
  }
  .stayuptodate {
    gap: 1.48148vw;
  }
  .stayuptodate h1 {
    font-size: 2.22222vw;
  }
  .stayuptodate input {
    padding-left: 0.74074vw;
    font-size: 1.11111vw;
    height: 2.74074vw;
  }
  .stayuptodate button {
    width: 20.74074vw;
    gap: 0.74074vw;
    height: 2.51852vw;
    font-size: 1.11111vw;
  }
  .stayuptodate button svg {
    width: 1.48148vw;
    height: 1.48148vw;
  }
  .stayuptodate input::-webkit-input-placeholder {
    font-size: 1.11111vw;
  }
  .stayuptodate input:-ms-input-placeholder {
    font-size: 1.11111vw;
  }
  .stayuptodate input::-ms-input-placeholder {
    font-size: 1.11111vw;
  }
  .stayuptodate input::placeholder {
    font-size: 1.11111vw;
  }
  .stayuptodate input::-webkit-input-placeholder {
    font-size: 1.11111vw;
  }
  .footer-menu {
    height: 25.62963vw;
    padding: 1.85185vw;
  }
  .footer-menu .header p {
    font-size: 1.48148vw;
    width: 18vw;
  }
  .footer-menu .header svg {
    width: 11.11111vw;
    height: auto;
  }
  .footer-menu .menu-list:nth-child(2) {
    gap: 3.7037vw;
  }
  .footer-menu .menu-list {
    gap: 1.48148vw;
  }
  .footer-menu .menu-list .menu-data.background::before {
    width: 18.88889vw;
    height: 21.7037vw;
    left: -2.22222vw;
    top: -2.22222vw;
    border-radius: 2.22222vw 0 0 0;
  }
  .footer-menu .menu-list .menu-data.background {
    margin: 0 2.37037vw;
    z-index: 2;
  }
  .footer-menu .menu-list .menu-data {
    height: 14.44444vw;
    gap: 1.48148vw;
  }
  .footer-menu .menu-list .menu-data .information {
    gap: 1.11111vw;
  }
  .footer-menu .menu-list .menu-data .information h5 {
    font-size: 1.48148vw;
    margin-bottom: 0.74074vw;
  }
  .footer-menu .menu-list .menu-data .information-data {
    gap: 1.11111vw;
  }
  .footer-menu .menu-list .menu-data .information-data svg {
    width: 1.33333vw;
    height: 1.33333vw;
  }
  .footer-menu .menu-list .menu-data .information-data span {
    font-size: 1.18519vw;
  }
  .footer-menu .menu-list .menu-data h5 {
    font-size: 1.48148vw;
  }
  .footer-menu .menu-list .menu-data .links {
    gap: 0.74074vw;
  }
  .footer-menu .menu-list .menu-data .links a {
    font-size: 0.88889vw;
  }
  .footer-menu .menu-list .menu-data a {
    font-size: 0.88889vw;
  }
  .footer-menu .menu-list .menu-data ul {
    gap: 0.74074vw;
  }
  .footer-menu .menu-list .menu-data ul li a {
    font-size: 0.88889vw;
  }
  .footer-menu .menu-list .menu-data .buttons {
    gap: 1.11111vw;
  }
  .footer-menu .menu-list .menu-data .buttons a {
    width: 11.11111vw;
    height: 2.96296vw;
    font-size: 1.03704vw;
  }
  .footer-menu .menu-list .menu-data.sosmed svg {
    width: 2vw;
    height: 2vw;
  }
  header {
    -webkit-box-shadow: 0 0.14815vw 0.59259vw 0 #ccc;
            box-shadow: 0 0.14815vw 0.59259vw 0 #ccc;
    padding: 1.03704vw;
  }
  header .logo {
    margin-left: 1.48148vw;
    font-size: 2.96296vw;
  }
  header .logo svg {
    width: 9.85185vw;
    height: auto;
  }
  header ul {
    gap: 2.96296vw;
  }
  header ul a {
    font-size: 1.11111vw;
  }
  header ul li:last-child {
    gap: 0.74074vw;
  }
  header ul .btn-dark {
    width: 10.37037vw;
    font-size: 0.96296vw;
  }
  header ul .btn-light {
    width: 7.40741vw;
    font-size: 0.96296vw;
  }
  .statistic {
    height: 47.11111vw;
  }
  .statistic .box {
    width: 25.92593vw;
  }
  .statistic .box .detail {
    margin-top: 4.07407vw;
  }
  .statistic .box .detail h1 {
    font-size: 5.92593vw;
  }
  .statistic .box .detail h5 {
    font-size: 1.85185vw;
  }
  .statistic .box .circle {
    border: 0.74074vw solid white;
    width: 9.62963vw;
    height: 9.62963vw;
  }
  .statistic .box .circle svg {
    width: 4.44444vw;
  }
}

@media screen and (max-width: 1000px) {
  .hero2 .search-input svg {
    top: 3.2vw;
    right: 1.8vw;
  }
  .hero2 .search-input input {
    font-size: 1.5vw;
  }
  .hero2 .search-input input:-ms-input-placeholder {
    font-size: 1.5vw;
  }
  .hero2 .search-input input::-webkit-input-placeholder {
    font-size: 1.5vw;
  }
  .hero2 .search-input input::-ms-input-placeholder {
    font-size: 1.5vw;
  }
  .hero2 .search-input input::placeholder {
    font-size: 1.5vw;
  }
  .hero2 p {
    width: 90%;
  }
  .stayuptodate {
    padding-left: 30px;
    padding-right: 30px;
  }
  .our-mission {
    padding: 30px 30px;
  }
  .chatbox {
    width: 280px;
    height: 350px;
    bottom: 93px;
    right: 39px;
  }
  .chatbox .footer input {
    height: 30px;
  }
  .chatbox .footer .option .fileupload svg {
    width: 15px;
    height: 15px;
  }
  .chatbox .footer .option .sendbtn {
    width: 30px;
    height: 30px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30px;
            flex: 1 0 30px;
  }
  .chatbox .footer .option .sendbtn svg {
    width: 10px;
    height: 10px;
  }
  .chatbox .header {
    padding: 9px 13px;
  }
  .chatbox .header h5 {
    font-size: 14px;
  }
  .chatbox .header .menu {
    gap: 10px;
  }
  .chatbox .header .menu .hamburger svg {
    width: 20px;
    height: 20px;
  }
  .chatbox .header .menu .arrow svg {
    width: 35px;
    height: 35px;
  }
  .chatbox .body {
    height: 270px;
  }
  .chatbox .body .box-white {
    height: 263px;
    bottom: 5px;
  }
  .chatbox .body .box-white .chats {
    max-height: 200px;
  }
  .chatbox .body .box-white .chats .bot .bubblechat,
  .chatbox .body .box-white .chats .user .bubblechat {
    font-size: 10px;
  }
  .chatbox .body .box-white .random-chat span {
    padding: 5px 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .hero2 {
    margin-top: 48px;
    height: auto;
    padding: 77px 32px 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero2-title {
    display: unset;
    font-size: 40px;
    font-family: redhatbold;
    color: white;
  }
  .hero2 p {
    margin-top: 30px;
    font-size: 20px;
    text-align: justify;
  }
  .hero2 .search-input {
    width: 100%;
  }
  .hero2 .search-input input {
    font-size: 15px;
    width: 100%;
  }
  .hero2 .search-input svg {
    top: 27px;
    right: 18px;
  }
  .hero2 .search-input input:-ms-input-placeholder {
    font-size: 15px;
  }
  .hero2 .search-input input::-webkit-input-placeholder {
    font-size: 15px;
  }
  .hero2 .search-input input::-ms-input-placeholder {
    font-size: 15px;
  }
  .hero2 .search-input input::placeholder {
    font-size: 15px;
  }
  .dotted-process {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .dotted-process span {
    cursor: pointer;
  }
  .chatbox {
    right: 25px;
  }
  .chatbot {
    right: 25px;
    bottom: 25px;
  }
  .our-mission {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .our-mission a.btn.hide {
    margin-top: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 46px;
    -webkit-box-shadow: 0 0 5px #4d289c;
            box-shadow: 0 0 5px #4d289c;
    font-size: 15px;
  }
  .our-mission img {
    width: 100%;
    height: auto;
  }
  .our-mission .mission-box {
    width: 100%;
    gap: 30px;
  }
  .our-mission .mission-box h1 {
    font-family: redhatbold;
    font-size: 40px;
    padding-bottom: 10px;
    border-bottom: 4px solid #4d289c;
    width: 100%;
  }
  .our-mission .mission-box .detail h5, .our-mission .mission-box .detail p {
    font-size: 18px;
  }
  .our-mission .mission-box .btn {
    width: 100%;
    height: 46px;
    display: none;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }
  footer .links {
    margin-left: 15px;
  }
  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
    padding: 44px 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 33px;
    height: 570px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .footer-menu .header p {
    margin-top: 15px;
    width: 193px;
    font-size: 16px;
  }
  .footer-menu .header svg {
    width: 163px;
  }
  .footer-menu .menu-list:last-child {
    position: absolute;
    left: 25px;
    bottom: -50px;
  }
  .footer-menu .menu-list:nth-child(3) {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    margin-top: 65px;
  }
  .footer-menu .menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-menu .menu-list .menu-data h5 {
    font-size: 20px;
  }
  .footer-menu .menu-list .menu-data .links a {
    font-size: 12px;
  }
  .footer-menu .menu-list .menu-data .links a:nth-child(3),
  .footer-menu .menu-list .menu-data .links a:nth-child(4) {
    display: none;
  }
  .footer-menu .menu-list .menu-data a {
    font-size: 12px;
  }
  .footer-menu .menu-list .menu-data:nth-child(2),
  .footer-menu .menu-list .menu-data:nth-child(3) {
    display: none;
  }
  .footer-menu .menu-list .menu-data.background::before {
    width: 255px;
    height: 293px;
    background: #532aad21;
    left: -30px;
    top: -30px;
    z-index: -1;
    border-radius: 30px 0 0 0;
  }
  .footer-menu .menu-list .menu-data.background {
    height: 290px;
    margin: 0 32px;
  }
  .footer-menu .menu-list .menu-data.background .information {
    gap: 15px;
    margin-top: 15px;
  }
  .footer-menu .menu-list .menu-data.background .information-data svg {
    width: 18px;
    height: 18px;
  }
  .footer-menu .menu-list .menu-data.background .information-data span {
    font-size: 15px;
  }
  .footer-menu .menu-list .menu-data.sosmed {
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    gap: 20px;
    -webkit-transform: translate(0px, -59px);
            transform: translate(0px, -59px);
  }
  .footer-menu .menu-list .menu-data.sosmed svg {
    width: 27px;
    height: 27px;
  }
  header {
    height: 48px;
    padding: 13px;
    -webkit-box-shadow: 0 2px 8px 0 #ccc;
            box-shadow: 0 2px 8px 0 #ccc;
  }
  header .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 38px;
    margin-right: 16px;
  }
  header .mobile-menu button {
    background: white;
    height: 30px;
    font-size: 15px;
    padding: 5px 32px;
    border: 2px solid black;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px #ccc;
            box-shadow: 0 0 5px #ccc;
  }
  header .mobile-menu .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 18px;
    height: 12px;
    cursor: pointer;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .mobile-menu .hamburger span {
    border-radius: 30px;
    height: 2px;
    width: 100%;
    background: black;
    -webkit-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
  }
  header .mobile-menu .hamburger span.active:first-child {
    -webkit-transform: rotate(30deg) translate(2px, 3px);
            transform: rotate(30deg) translate(2px, 3px);
  }
  header .mobile-menu .hamburger span.active:last-child {
    -webkit-transform: rotate(-30deg) translate(3px, -5px);
            transform: rotate(-30deg) translate(3px, -5px);
  }
  header .mobile-menu .hamburger span.active:nth-child(2) {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  header .logo svg {
    width: 85px;
  }
  header ul.active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  header ul {
    -webkit-transition: all 200ms ease 0s;
    transition: all 200ms ease 0s;
    gap: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 44px;
    z-index: 9999;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  header ul li {
    width: 100%;
  }
  header ul a {
    font-size: 15px;
  }
  header ul li:last-child {
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header ul li:last-child .btn-dark {
    width: 100%;
    height: 40px;
    font-size: 15px;
  }
  header ul li:last-child .btn-light {
    width: 100%;
    height: 40px;
    font-size: 15px;
  }
  header ul li.navigator,
  header ul li.mylogo {
    width: auto;
    padding-right: 20px;
    display: unset;
  }
  header ul li.navigator {
    cursor: pointer;
  }
  .stayuptodate {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    text-align: center;
  }
  .stayuptodate h1 {
    font-size: 30px;
  }
  .stayuptodate input {
    margin-top: 18px;
    padding-left: 10px;
    font-size: 15px;
    height: 36px;
  }
  .stayuptodate input::-webkit-input-placeholder {
    font-size: 15px;
  }
  .stayuptodate input:-ms-input-placeholder {
    font-size: 15px;
  }
  .stayuptodate input::-ms-input-placeholder {
    font-size: 15px;
  }
  .stayuptodate input::placeholder {
    font-size: 15px;
  }
  .stayuptodate input::-webkit-input-placeholder {
    font-size: 15px;
  }
  .stayuptodate button {
    margin-top: 18px;
    width: 100%;
    height: 36px;
    font-size: 15px;
  }
  .stayuptodate button svg {
    width: 20px;
    height: 20px;
  }
  .stayuptodate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    text-align: center;
  }
  .statistic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 516px;
    padding: 30px;
  }
  .statistic .box {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .statistic .box .detail {
    margin-top: unset;
    text-align: left;
  }
  .statistic .box .detail h5 {
    font-size: 18px;
  }
  .statistic .box .detail h1 {
    font-size: 50px;
  }
  .statistic .box .circle {
    width: 76px;
    height: 76px;
  }
  .statistic .box .circle svg {
    width: 34px;
  }
}

.container {
  overflow-x: hidden;
}

body {
  overflow: unset;
}

.schedule-form .box {
  width: 1230px;
  -webkit-transform: translate(0, -380px);
          transform: translate(0, -380px);
  margin: auto;
}

.schedule-form .box-title {
  font-size: 40px;
  color: white;
  font-family: redhatbold;
}

.schedule-form .box-white {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  background-color: white;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
  border-radius: 3px;
}

.schedule-form .box-white .calendly-inline-widget {
  width: 1248px;
  height: 702px;
}

@media screen and (max-width: 1570px) {
  .schedule-form .box {
    width: 1147px;
  }
}

@media screen and (max-width: 1350px) {
  .schedule-form .box {
    -webkit-transform: translate(0, -28.14815vw);
            transform: translate(0, -28.14815vw);
    width: 84.96296vw;
  }
  .schedule-form .box-title {
    font-size: 2.96296vw;
  }
  .schedule-form .box-white {
    padding-bottom: 2.22222vw;
  }
}

@media screen and (max-width: 1177px) {
  .schedule-form .box {
    width: 800px;
  }
  .schedule-form .box-white {
    padding-bottom: unset;
  }
}

@media screen and (max-width: 885px) {
  .schedule-form .box {
    width: 630px;
  }
}

@media screen and (max-width: 767px) {
  .footer-menu .menu-list:last-child {
    position: unset;
  }
  .footer-menu .menu-list .menu-data.sosmed {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .schedule-form .box {
    margin: unset;
    padding: unset;
    width: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .schedule-form .box-title {
    display: none;
  }
  .schedule-form .box-white {
    margin-top: unset;
  }
  .schedule-form .box-white .calendly-inline-widget {
    width: 1248px;
    height: 516px;
  }
  .stayuptodate {
    margin-top: 50px;
  }
}
/*# sourceMappingURL=meeting.css.map */