@import './main';


.container {
    overflow-x:hidden;
} body {
    overflow: unset;
}



.schedule-form {
    
    .box {
        
        transform: translate(0,-380px);
        margin: auto;
        width: 1247px; 
        &-title {
            font-size: 40px;
            color:white; 
            font-family: redhatbold;
        }

        &-white {
            margin-top: 34px;
            background: white;
            padding: 103px 72px;
            border-radius: 5px;
            box-shadow: 0 0 5px #ccc;
            .layout {
                box-shadow: 0 0 10px #ddd;
                border: 1px solid #ddd;
                display: flex;
                gap:20px;
                .left {
                    padding: 30px;
                    border-right: 1px solid #ddd;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    width: 380px; 
                    height: 600px;
                    a {
                        color: #3774F6; 
                        font-size: 18px;
                    }

                    &-header {
                        .header {

                            img {
                                width: 84px; 
                                height: 84px; 
                            } h5 {
                                margin-top: 15px;
                                font-size: 18px;
                                color: #767676; 
                            } h1 {
                                font-size: 40px;
                            }
                        } 

                        .body {
                            margin-top: 25px;
                            display:flex; 
                            flex-direction: column;
                            gap: 20px; 
                            .icon {
                                
                                span {
                                    font-size: 16px;
                                    display: unset;
                                    width: 80%;
                                } span.gray {
                                    font-weight: bold;
                                    color: #767676;
                                }
                                display: flex;
                                align-items: center;
                                gap: 15px;
                                svg {
                                    
                                    height: auto;
                                    flex: 0 1 30px;
                                }
                            }
                        } p {
                            margin-top: 30px;
                            font-size: 18px;
                            color: #767676; 
                            line-height: 1.5;
                        }
                    }
                } 
                
                
                
                
                
                
                
                .middle {
                    padding: 30px;
                    h2 {
                        font-size: 20px;
                    } .calendars {
                        
                        display: flex;
                        gap:20px;
                        .date {
                            position: relative;
                            width: 400px;
                            height: 430px;
                            &-header {
                                margin-top: 10px;
                        
                                display: flex;
                                align-items: center;
                                
                                justify-content: space-between;
                                .icon {
                                    display: flex;
                                    align-items: center;
                                    gap: 20px; 
                                    .button:hover {
                                        background: #ddd;

                                    }
                                    .button {
                                        transition: all 200ms ease 0s;
                                        border-radius: 50%;
                                        width: 40px; 
                                        height: 40px;
                                        
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        svg {
                                            width: 7px; 
                                            height: auto;
                                        } svg:hover {
                                            background: #ccc;
                                        }
                                    }
                                }
                            } ul {
                                display:flex; 
                                list-style-type: none;
                                justify-content: flex-start;
                                li {
                                    width: calc(100% / 7);
                                    
                                    text-align: center;
                                }
                            } ul.weeks {

                                margin-top: 20px;
                                
                            } ul.days {
                                margin-top: 10px;
                                flex-wrap: wrap;
                                li::before {
                                    content: '';
                                    position: absolute;
                                    width: 40px; 
                                    height: 40px; 
                                    border-radius: 50%;
                                    z-index: -1;
                                } 

                                li.active::before {
                                    background: #F1F5FE;
                                } li.today::before {
                                    background: #3774F6; 
                                } li.today {
                                    color:white; 
                                }
                                li:hover::before {
                                    background: #3774F6; 
                                } li:hover {
                                    color:white; 
                                }
                                

                                li {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 50%;
                                    position: relative;
                                    z-index: 2;
                                } li {
                                    font-size: 15px;
                                    margin-top: 30px; 
                                }
                                
                                
                            } .globe {
                                cursor: pointer;
                                position: absolute;
                                bottom: -40px;
                                margin-top: 40px;
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                svg:first-child {
                                    
                                    width: 24px; 
                                    height: 24px; 
                                }

                                &-current {
                                    font-size: 16px; 
                                }
                                svg:nth-child(3) {
                                    
                                    width: 10px;
                                    height:auto;
                                } 
                                .globe-items.active {
                                    display: flex;
                                }
                                .globe-items {
                                    display: none;
                                    background:white; 
                                    position: absolute;
                                    width: 100%;
                                    height: 150px;
                                    bottom: -160px;
                                    flex-direction: column;
                                    overflow: auto;
                                    box-shadow: 0 0 5px #ccc;
                                    .globe-item {
                                        padding: 5px;
                                    } .globe-item:hover {
                                        background: #3774F6; 
                                        color:white; 
                                    }
                                }
                            }
                        }
                        .time {
                            margin-top: 20px;
                            width: 40%;

                            span {
                                font-size: 16px; 
                            }
                            
                            .items {
                                
                                margin-top: 20px;
                                display: flex;
                                flex-direction: column;
                                gap: 20px; 
                                .item {
                                    border: 1px solid #3774F6;
                                    text-align: center;
                                    padding: 15px;
                                    border-radius: 5px;
                                    font-size: 16px;
                                    color: #3774F6;
                                    font-family: redhatbold;
                                } .item:hover {
                                    background: #3774F6;
                                    color:white; 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1570px) { 
    .schedule-form {
        .box {
            width: 1147px;
        }
    }
}

@media screen and (max-width: 1350px) { 
    .schedule-form {
        .box {
            transform: translate(0,pxToVw(-380, 1350));
            width: pxToVw(1147, 1350); 
            &-title {
                font-size: pxToVw(40, 1350);
            }
    
            &-white {
                margin-top: pxToVw(34, 1350);
                padding: pxToVw(103, 1350) pxToVw(72, 1350);
                border-radius: pxToVw(5, 1350);
                box-shadow: 0 0 pxToVw(5, 1350) #ccc;
                .layout {
                    box-shadow: 0 0 pxToVw(10, 1350) #ddd;
                    border: pxToVw(1, 1350) solid #ddd;
                    gap:pxToVw(20, 1350);
                    .left {
                        padding: pxToVw(30, 1350);
                        border-right: pxToVw(1, 1350) solid #ddd;                     
                        width: pxToVw(380, 1350); 
                        height: pxToVw(600, 1350);
                        a {
                            font-size: pxToVw(18, 1350);
                        }
    
                        &-header {
                            .header {
    
                                img {
                                    width: pxToVw(84, 1350); 
                                    height: pxToVw(84, 1350); 
                                } h5 {
                                    margin-top: pxToVw(15, 1350);
                                    font-size: pxToVw(18, 1350);
                                } h1 {
                                    font-size: pxToVw(40, 1350);
                                }
                            } 
    
                            .body {
                                margin-top: pxToVw(25, 1350);
                                gap: pxToVw(20, 1350); 
                                .icon {
                                    
                                    span {
                                        font-size: pxToVw(16, 1350);
                                        width: 80%;
                                    } 
                                    gap: pxToVw(15, 1350);
                                    svg {
                                        flex: 0 1 pxToVw(30, 1350);
                                    }
                                }
                            } p {
                                margin-top: pxToVw(30, 1350);
                                font-size: pxToVw(18, 1350);
                            }
                        }
                    } 
                    
                    .middle {
                        padding: pxToVw(30, 1350);
                        h2 {
                            font-size: pxToVw(20, 1350);
                        } .calendars {
                            gap:pxToVw(20, 1350);
                            .date {
                                width: pxToVw(400, 1350);
                                height: pxToVw(430, 1350);
                                &-header {
                                    margin-top: pxToVw(10, 1350);                                   
                                    .icon {
                                        gap: pxToVw(20, 1350); 
                                        .button {
                                            width: pxToVw(40, 1350); 
                                            height: pxToVw(40, 1350);
                                            svg {
                                                width: pxToVw(7, 1350); 
                                            } 
                                        }
                                    }
                                } ul {
                                    li {
                                        width: calc(100% / 7);
                                    }
                                } ul.weeks {   
                                    margin-top: pxToVw(20, 1350);                                    
                                } ul.days {
                                    margin-top: pxToVw(10, 1350);
                                    li::before {
                                        width: pxToVw(40, 1350); 
                                        height: pxToVw(40, 1350); 
                                        z-index: -1;
                                    } li {
                                        font-size: pxToVw(15,1350);
                                        margin-top: pxToVw(30, 1350); 
                                    }
                                    
                                    
                                } .globe {
                                    bottom: -pxToVw(40, 1350);
                                    margin-top: pxToVw(40, 1350);
                                    gap: pxToVw(10, 1350);
                                    svg:first-child {
                                    
                                        width: pxToVw(24, 1350); 
                                        height: pxToVw(24, 1350); 
                                    }
    
                                    &-current {
                                        font-size: pxToVw(16, 1350); 
                                    }
                                    svg:nth-child(3) {
                                        
                                        width: pxToVw(10, 1350);
                                        height:auto;
                                    } 

                                    .globe-items {
                                        width: 100%;
                                        height: pxToVw(150, 1350);
                                        bottom: -pxToVw(160, 1350);
                                        box-shadow: 0 0 pxToVw(5, 1350) #ccc;
                                        .globe-item {
                                            padding: pxToVw(5, 1350);
                                        } 
                                    }
                                }
                            }
                            .time {
                                margin-top: pxToVw(20, 1350);
                                width: 40%;

                                span {
                                    font-size: pxToVw(16,1350);
                                }
                                
                                .items {
                                    margin-top: pxToVw(20, 1350);
                                    gap: pxToVw(20, 1350); 
                                    .item {
                                        border: pxToVw(1, 1350) solid #3774F6;
                                        padding: pxToVw(15, 1350);
                                        border-radius: pxToVw(5, 1350);
                                        font-size: pxToVw(16, 1350);
                                    } 
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) { 
    .footer-menu {
        .menu-list:last-child {
            position:unset; 
        } 

        .menu-list {
            .menu-data.sosmed {
                transform: translate(0,0);
            }
        }
    }

    // Schedule form 
 
}