@import './main';
@import './main_services';


.container {
    overflow-x:hidden;
} body {
    overflow: unset;
}


.hero {
    margin-top: 82px;
    height: 736px;
    display: flex;
    background:url('../assets/heroimg.png');
    background-size: cover;
    justify-content: flex-start;
    align-items: center;
    padding: 0 200px;
    &-detail {
        display: inline-block;
        width: 1038px; 
        color:white; 
        h1 {
            font-size: 40px;
            margin-bottom: 30px;
            padding-right: 30px;
            border-bottom: 1px solid white;
            font-family: redhat2;
        } p {
            line-height: 1.5;
            font-size: 20px;
        }
    }
}

.our-services {
    .cards {
        transform: translate(0,-250px);
    }
}

