@import './main';
@import './main_services';


.container {
    overflow-x:hidden;
} body {
    overflow: unset;
}


.hero2 {
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:unset;
 
    &-title {
        display: unset;
   
    } p {
        display: unset;

    }
}

.our-services {
    .cards {
        transform: translate(0,-250px);
    }
}



@media screen and (max-width: 1570px) { 
    .our-services {
        .cards {
            transform: translate(0, -190px);
        }
    }
}


@media screen and (max-width: 767px) { 

    .hero2 {
        padding: 20px 30px;
        p {
            width: 100%;
            margin-bottom: 20px;
        }
    }
    
    .our-services {
        padding: 20px 30px;
        .cards {
            display: flex;
            overflow: unset;
            flex-direction: column;
            transform: translate(0,0);
            height: auto;
            gap:70px;
            margin-top: 60px;
            margin-bottom: 60px;
            .card {
                padding: 30px 35px;
                width: 100%;
                @include flexwidth(100%);
                &-body {
                    p {
                        margin: 32px 1px;
                    } h5 {
                        font-family: redhatbold;
                    }
                }
            }
        }
    }

    footer {
        background: black;
        z-index: 9999;
        position: relative;
    } 

    .footer-menu {
        .menu-list:last-child {
            position:unset; 
        } 

        .menu-list {
            .menu-data.sosmed {
                transform: translate(0,0);
            }
        }
    }
 
}